.payday {
    background: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);
}

.payday__content {
    display: flex;
}

.paydayImg {
    width: 992px;
    height: 968px;
}

.payday__block {
    margin: 128px 200px 155px 67px;
    /*width: 666px;*/
    /*height: 685px;*/
}

.payday__title {
    color: #000;
    font-size: 110px;
    font-weight: 900;
    line-height: 1.22;
    max-width: 593px;
}

.payday-highlight {
    position: relative;
    display: inline-block;
}

.payday-highlight span {
    position: relative;
}

.payday-highlight::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0;
    left: -40px;
    right: -35px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.payday__text {
    padding-top: 30px;
}

.payday__text-first {
    color: #231300;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.721px;
}

.payday__text-second {
    padding-top: 41px;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: 0.721px;
}

.payday__text-third {
    color: #000;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -0.721px;
}

.payday__btn {
    margin-top: 51px;
    width: 266px;
    height: 95px;
    border-radius: 8px;
    background: #000;
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}